/* CSS declarations go here */
body {
	font-family: sans-serif, Arial;
}

.login-buttons {
	position: relative;

	margin-left: 15px;
	margin-top: 10px;
}
.connection-status {
	position: absolute;
	right: 15px;
	top: 10px;

	cursor: default;

	color: rgba(230, 230, 230, 0.3);

			transition: color 0.5s;
	-webkit-transition: color 0.5s;
}
.connection-status:hover {
	color: black;
}

.container, .container-fluid {
	margin-top: 15px;
	margin-bottom: 5px;
	background-color: rgb(250, 250, 250);
}
.container, .container-fluid .container-inner {
	border: 1px solid #CCCCCC;
			border-radius: 5px;
	-webkit-border-radius: 5px;
			box-shadow: 0px 0px 30px #CCCCCC;
	-webkit-box-shadow: 0px 0px 30px #CCCCCC;
    
}
.hero-unit {
	margin-bottom: 5px;
}

/*
 * Chat related
 * */
.chat-container {
	height: 280px;
}
.chat-container .login-prompt {
	font-size: 35px;
	width: auto;
	margin: auto;
	text-align: center;
	padding-top: 124px;

	line-height: 40px;
}

.users-online {
	border-style: none dashed none none;
	border-width: 3px;
	border-color: #ddd;

	width: 100%;
}
.users-online .user {
	color: rgba(50, 50, 50, 0.8);
			transition: color 0.5s;
	-webkit-transition: color 0.5s;

	padding: 3px;
	width: 100%;
	text-align: center;

	border-style: none none dashed none;
	border-width: 1px;
	border-color: #ddd;
}
.users-online .user:hover {
	color: black;
}

.chat {
	
}
.chat .messages {
	overflow: auto;
	height: 230px;

	margin-right: 10px;

	border: 1px solid gray;
			border-radius: 3px;
	-webkit-border-radius: 3px;
}
.chat .messages .message {
			transition: background-color 0.25s;
	-webkit-transition: background-color 0.25s;
}
.chat .messages .message:hover {
	background-color: rgba(0, 153, 213, 0.1);
}
.chat .messages .message .username {
	font-weight: bold;
}
.chat .messages .message .time {
	float: right;
	font-style: italic;

	opacity: 0.1;
			transition: opacity 0.25s;
	-webkit-transition: opacity 0.25s;
}
.chat .messages .message:hover .time {
	opacity: 1.0;
}
.chat .input {
	height: 30px;
	width: 100%;
}
.chat .input input {
	width: 450px;

	margin-right: 10px;
	margin-top: 5px;
}
