/* CSS declarations go here */
body {
	font-family: sans-serif, Arial;
}

.login-buttons {
	position: relative;

	margin-left: 15px;
	margin-top: 10px;
}
.connection-status {
	position: absolute;
	right: 150px;
	top: 10px;

	cursor: default;

	color: rgba(230, 230, 230, 0.3);

			transition: color 0.5s;
	-webkit-transition: color 0.5s;
}
.connection-status:hover {
	color: black;
}

.container, .container-fluid {
	margin-top: 15px;
	margin-bottom: 5px;
	background-color: rgb(250, 250, 250);
}
.container, .container-fluid .container-inner {
	border: 1px solid #CCCCCC;
			border-radius: 5px;
	-webkit-border-radius: 5px;
			box-shadow: 0px 0px 30px #CCCCCC;
	-webkit-box-shadow: 0px 0px 30px #CCCCCC;
    
}
.hero-unit {
	margin-bottom: 5px;
}

/*
 * Chat related
 * */
.chat-container {
	height: 280px;
    padding: 20px;
}
.chat-container .login-prompt {
	font-size: 35px;
	width: auto;
	margin: auto;
	text-align: center;
	padding-top: 124px;

	line-height: 40px;
}

.chat .messages {
	overflow: auto;
	height: 230px;

	border: 1px solid gray;
			border-radius: 3px;
	-webkit-border-radius: 3px;
}
.chat .messages .message {
			transition: background-color 0.25s;
	-webkit-transition: background-color 0.25s;
}
.chat .messages .message:hover {
	background-color: rgba(0, 153, 213, 0.1);
}
.chat .messages .message .username {
	font-weight: bold;
}
.chat .messages .message .time {
	float: right;
	font-style: italic;

	opacity: 0.1;
			transition: opacity 0.25s;
	-webkit-transition: opacity 0.25s;
}
.chat .messages .message:hover .time {
	opacity: 1.0;
}
.chat .input {
	height: 30px;
	width: 100%;
}
.chat .input input {
	width: 75%;
    
    margin-top: 11px;
    margin-right: 5px;
}
.chat .input button {
    width: 20%;
}

/*
* Login-UI related (Buttons shamelessly stolen from bootstrap)
* */
.login-button {
  	display: inline-block;
  	*display: inline;
  	padding: 4px 12px;
  	margin-bottom: 0;
  	*margin-left: .3em;
  	font-size: 14px;
  	line-height: 20px;
  	*line-height: 20px;
  	color: #333333;
  	text-align: center;
  	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  	vertical-align: middle;
  	cursor: pointer;
  	background-color: #f5f5f5;
  	*background-color: #e6e6e6;
  	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  	background-repeat: repeat-x;
  	border: 1px solid #bbbbbb;
  	*border: 0;
  	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  	border-bottom-color: #a2a2a2;
  	-webkit-border-radius: 4px;
  	   -moz-border-radius: 4px;
  	        border-radius: 4px;
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  	*zoom: 1;
  	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  	   -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  	        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  	color: #ffffff;
  	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  	background-color: #006dcc;
  	*background-color: #0044cc;
 	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  	background-repeat: repeat-x;
  	border-color: #0044cc #0044cc #002a80;
  	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}



.login-button:hover {
  	color: #ffffff;
  	text-decoration: none;
  	background-color: #0044cc;
  	*background-color: #003bb3;
  	/* Buttons in IE7 don't get borders, so darken on hover */

  	background-position: 0 -15px;
  	-webkit-transition: background-position 0.1s linear;
  	   -moz-transition: background-position 0.1s linear;
  	     -o-transition: background-position 0.1s linear;
  	        transition: background-position 0.1s linear;
}

.additional-link-container {float: right;}
.additional-link {
	display: inline-block;
  	*display: inline;
  	padding: 4px 12px;
  	margin-bottom: 0;
  	margin-top: 2px;
  	*margin-left: .3em;
  	font-size: 14px;
  	line-height: 20px;
  	*line-height: 20px;
  	color: #333333;
  	text-align: center;
  	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  	vertical-align: middle;
  	cursor: pointer;
  	background-color: #f5f5f5;
  	*background-color: #e6e6e6;
  	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  	background-repeat: repeat-x;
  	border: 1px solid #bbbbbb;
  	*border: 0;
  	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  	border-bottom-color: #a2a2a2;
  	-webkit-border-radius: 4px;
  	   -moz-border-radius: 4px;
  	        border-radius: 4px;
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  	*zoom: 1;
  	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  	   -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  	        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}


.additional-link:hover {
	color: #333333;
	text-decoration: none;
  	background-color: #e6e6e6;
  	*background-color: #d9d9d9;

	background-position: 0 -15px;
-webkit-transition: background-position 0.1s linear;
   -moz-transition: background-position 0.1s linear;
     -o-transition: background-position 0.1s linear;
        transition: background-position 0.1s linear;
}

.login-close-text {
	float: right;
}


.accounts-dialog {
	position: fixed;
	background: rgb(255,255,255);
	box-shadow: 2px 2px 2px rgba(0,0,0, 0.2);
	padding: 8px 12px;
	margin: 5px;
	z-index: 1000;
	width: 300px;
	border-radius: 4px;
	border-color: gray;
	border-width: 1px;
	border-style: solid;
}

#login-buttons {
	margin: 5px;
}
