/* CSS declarations go here */
body {
    font-family: sans-serif;
}

.login {
    float: right;
    margin-right: 10px;
}

.container {
	width: 768px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 10px;

	border: 1px solid #CCCCCC;
	background-color: rgb(250, 250, 250);
			border-radius: 5px;
	-webkit-border-radius: 5px;
			box-shadow: 0px 0px 30px #CCCCCC;
	-webkit-box-shadow: 0px 0px 30px #CCCCCC;
    
}

.muted {
	color: rgb(150, 150, 150);
}

.confirm {
    float: right;
    height:100%;
}

.chat {
	padding: 10px;

			border-radius: 5px;
	-webkit-border-radius: 5px;
}

.input-message {
     width: 690px;
}

.chat .history {
	border: 1px solid gray;
	padding: 3px;
	margin-bottom: 5px;
    
    height: 350px;
	max-height: 350px;
	overflow: auto; /* Scroll bars */

			border-radius: 5px;
	-webkit-border-radius: 5px;
}

.chat .message {
			transition: background-color 0.1s;
	-webkit-transition: background-color 0.1s;
}
.chat .message:hover{
	background-color: rgba(0, 153, 213, 0.1);
}
.chat .message .time {
	font-style: italic;
    float: right;
}
.chat .message .username {
	font-weight: bold;
}
.chat .message .server-message {
	color: red;
}
