/*
 * General style
 * */
body {
	font-family: sans-serif, Arial;
}
/* make the top level input or button element in span*s max width'ed */
.grid .row > * > input,
.grid .row > * > button,
.grid .row-fluid > * > input,
.grid .row-fluid > * > button {
    width: 100%;
}
.grid .row > * > input,
.grid .row-fluid > * > input {
    padding-right: 0px;
    padding-left: 0px;
}
.grid .input {
    margin-top: 5px;
    margin-bottom: 10px;
}
/* Box style for messages and threads */
.box {
	padding: 2px;
    border: 1px solid rgb(200,200,200);
			border-radius: 3px;
	-webkit-border-radius: 3px;
    
    overflow: auto;
}

/*
 * Floating divs
 * */
.connection-status {
	position: absolute;
	right: 150px;
	top: 10px;

	cursor: default;

	color: rgba(230, 230, 230, 0.3);

			transition: color 0.5s;
	-webkit-transition: color 0.5s;
}
.connection-status:hover {
	color: black;
}

/*
 * Main container
 * */
.container, .container-fluid {
	margin-top: 15px;
	margin-bottom: 5px;
	background-color: rgb(250, 250, 250);
}
.container, .container-fluid .container-inner {
	border: 1px solid #CCCCCC;
			border-radius: 5px;
	-webkit-border-radius: 5px;
			box-shadow: 0px 0px 30px #CCCCCC;
	-webkit-box-shadow: 0px 0px 30px #CCCCCC;
    
}
/*
 * Header
 * */
.header-image {
    margin: 20px;
}
.header-text {
    margin-top: 66px;
}

/*
 * Bottom part. Chat related
 * */
.chat-container {
	min-height: 280px;
    padding: 20px;
}
.chat-container .login-prompt {
	font-size: 35px;
	width: auto;
	margin: auto;
	text-align: center;
	padding-top: 124px;

	line-height: 40px;
}
/*
 * Conversation view
 * */
.messages {
	overflow: auto;
	height: 230px;
}
.messages .message {
			transition: background-color 0.25s;
	-webkit-transition: background-color 0.25s;
}
.messages .message:hover {
	background-color: rgba(0, 153, 213, 0.1);
}
.messages .message .username {
	font-weight: bold;
}
.messages .message .msg-text {
    color: black;
}
.messages .message .msg-text .server-message {
	color: red;
}
.messages .message .time {
	float: right;
	font-style: italic;

	opacity: 0.1;
			transition: opacity 0.25s;
	-webkit-transition: opacity 0.25s;
}
.messages .message:last-child .time {
    opacity: 0.5;
}
.messages .message:hover .time {
	opacity: 1.0;
}
/* 
 * Threads
 * */
.threads {
    min-height: 270px;
}
.threads .box {
    height: 230px;
}
.threads .box ul {
	list-style: none;
    overflow: auto;
    
    margin: 0px;
}
.threads .box ul li {
	padding-left: 3px;
	border-radius: 2px;
}
.threads .box ul li:nth-child(odd) {
    background-color: rgba(150, 150, 150, 0.05);
}
.threads .box ul li:nth-child(even) {
    background-color: rgba(150, 150, 150, 0.2);
}
