body {
	font-family: sans-serif, Arial;
}

/*
 * Floating divs
 * */
.connection-status {
	position: absolute;
	right: 150px;
	top: 10px;

	cursor: default;

	color: rgba(230, 230, 230, 0.3);

			transition: color 0.5s;
	-webkit-transition: color 0.5s;
}
.connection-status:hover {
	color: black;
}

/*
 * Main container
 * */
.container, .container-fluid {
	margin-top: 15px;
	margin-bottom: 5px;
	background-color: rgb(250, 250, 250);
}
.container, .container-fluid .container-inner {
	border: 1px solid #CCCCCC;
			border-radius: 5px;
	-webkit-border-radius: 5px;
			box-shadow: 0px 0px 30px #CCCCCC;
	-webkit-box-shadow: 0px 0px 30px #CCCCCC;
    
}
/*
 * Header
 * */
.header-image {
    margin: 20px;
}
.header-text {
    margin-top: 66px;
}

/*
 * Bottom part. Chat related
 * */
.chat-container {
	height: 280px;
    padding: 20px;
}
.chat-container .login-prompt {
	font-size: 35px;
	width: auto;
	margin: auto;
	text-align: center;
	padding-top: 124px;

	line-height: 40px;
}

/* Box style for messages and threads */
.box {
    border: 1px solid gray;
			border-radius: 3px;
	-webkit-border-radius: 3px;
    
    overflow: auto;
}
/*
 * Conversation view
 * */
.chat .messages {
	overflow: auto;
	height: 230px;
}
.chat .messages .message {
			transition: background-color 0.25s;
	-webkit-transition: background-color 0.25s;
}
.server-message {
	color: red;
}
.chat .messages .message:hover {
	background-color: rgba(0, 153, 213, 0.1);
}
.chat .messages .message .username {
	font-weight: bold;
}
.chat .messages .message .time {
	float: right;
	font-style: italic;

	opacity: 0.1;
			transition: opacity 0.25s;
	-webkit-transition: opacity 0.25s;
}
.chat .messages .message:hover .time {
	opacity: 1.0;
}
/* 
 * Threads
 * */
.threads {
    height: 230px;
}
.threads .header {
    margin: 2px;
    height: 14px;
}
.threads .box {
    height: 210px;
}
/*
 * Chat input
 * */
.chat .input {
	height: 30px;
	width: 100%;
}
.chat .input input {
	width: 75%;
    
    margin-top: 11px;
    margin-right: 5px;
}
.chat .input button {
    width: 20%;
}
